/*
Theme Name: Lipstick and Mocha
Theme URI: https://wordpress.org/themes/lipstick-and-mocha/
Author: Carla N
Author URI: https://wordpress.org/
Description: Blog design for Lipstick and Mocha
Version: 0.1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: blog, responsive
Text Domain: lipstick-and-mocha

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/
/************************* VARIABLES       * */
/* Color - Vintage Pink*/
/* Color - Sea Green */
/* Font - Verdana */
/************************* MIXINS         * */
body { margin: 0; /*	position: relative; min-height: 100%;*/ background-color: blue; }

#wrapper { height: 100%; }

h1 { color: #797c7d; }

h2 { color: #02b3a9; font-size: 20px; }

/************************* HEADER         * */
/* Logo */
#logo-container { height: 160px; text-align: center; }

#logo-container a { display: inline-block; height: 78px; width: 346px; background: url("images/logo.png") no-repeat; margin-top: 41px; }

/* Menu */
header .main-menu { font-family: Verdana, Geneva, sans-serif; text-align: center; width: 100%; background-color: #f4dac3; padding: 5px 0px; font-size: 17px; margin-bottom: 50px; }

header .main-menu ul { margin: 0; padding: 0; }

header .main-menu ul li { display: inline-block; list-style-type: none; margin: 10px 20px; }

header .main-menu ul li a { text-decoration: none; color: #797c7d; transition: text-shadow .3s; }

header .main-menu ul li a:hover, header .main-menu ul li a:active, header .main-menu ul li a:visited { text-shadow: 0 0 .01px #797c7d, 0 0 .01px #797c7d; text-decoration: none; color: #797c7d; }

/************************* POSTS         * */
/* All */
#posts-all { background: tomato; }

.post-container { height: 230px; width: 26%; /*display: inline-block;*/ float: left; margin-left: 15px; margin-right: 15px; position: relative; }

.post-white-background { background-color: #fff; height: 70%; width: 80%; display: table; margin: 0 auto; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); -o-transform: translate(-50%, -50%); }

.post-info { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); -o-transform: translate(-50%, -50%); }

.post-category ul { list-style: none; }

/************************* GOODIES        * */
#goodies { font-family: Verdana, Geneva, sans-serif; margin: 20px 0px; padding: 0px 80px; }

.goodies-box { /*width: 300px;*/ text-align: center; /*background: blue;*/ /*margin: 10px;*/ }

.goodies-box div { /*height: 30px;*/ width: 100%; padding: 5px 0px 5px 10px; font-size: 13px; font-weight: bold; text-align: left; background: #eeeeee; }

#goodies #netgalley-badges img { margin: 5px; }

#goodies #follow-me img { margin: 15px; }

/************************* PAGES          * */
#page { padding: 0px 15px; }

/************************* FOOTER         * */
footer { font-family: Verdana, Geneva, sans-serif; padding: 20px 15px; color: #fff; font-size: 10px; background: #000; text-align: center; bottom: 0; margin-top: 75px; /*width: 100%; position: absolute;*/ }

/******************************** MEDIA QUERIES         * */
/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) { .post-container { width: 45%; } }

@media only screen and (min-width: 769px) { /************************* HEADER         * */
  /* Menu */
  header .main-menu ul { display: block !important; }
  /************************* PAGES         * */
  #page { padding: 0 10%; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) { /************************* HEADER         * */
  /* Logo */
  #logo-container { height: 78px; text-align: left; position: absolute; }
  #logo-container a { height: 45px; width: 102px; background: url("images/logo_small.png") no-repeat; margin: 10px 0px 10px 20px; }
  /* Menu - Hamburger icon */
  #burger-nav { display: block; height: 65px; width: 100%; background-color: #fff; }
  #nav-icon { width: 24px; height: 24px; margin: 20px; float: right; /*position: relative;*/ /*margin: 50px auto;*/ cursor: pointer; -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -o-transform: rotate(0deg); -ms-transform: rotate(0deg); transform: rotate(0deg); -webkit-transition: 0.5s ease-in-out; -moz-transition: 0.5s ease-in-out; -o-transition: 0.5s ease-in-out; transition: 0.5s ease-in-out; }
  #nav-icon span { display: block; position: absolute; height: 3px; width: 100%; background: #797c7d; border-radius: 9px; opacity: 1; left: 0; -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -o-transform: rotate(0deg); -ms-transform: rotate(0deg); transform: rotate(0deg); -webkit-transition: 0.25s ease-in-out; -moz-transition: 0.25s ease-in-out; -o-transition: 0.25s ease-in-out; transition: 0.25s ease-in-out; }
  #nav-icon span:nth-child(1) { top: 0px; }
  #nav-icon span:nth-child(2), #nav-icon span:nth-child(3) { top: 8px; }
  #nav-icon span:nth-child(4) { top: 16px; }
  #nav-icon.open span:nth-child(1) { top: 8px; width: 0%; left: 50%; }
  #nav-icon.open span:nth-child(2) { -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -o-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }
  #nav-icon.open span:nth-child(3) { -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -o-transform: rotate(-45deg); -ms-transform: rotate(-45deg); transform: rotate(-45deg); }
  #nav-icon.open span:nth-child(4) { top: 8px; width: 0%; left: 50%; }
  /* Responsive menu */
  header .main-menu { width: 100%; padding: 0; }
  header .main-menu ul { display: none; overflow: hidden; height: 0; transition-timing-function: ease-in-out; }
  header .main-menu ul.open { overflow: visible; height: auto; }
  header .main-menu ul li { float: none; text-align: left; width: 100%; margin: 0; }
  header .main-menu ul li a { padding: 10px; border-bottom: 1px solid #fff; display: block; margin: 0; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) { .post-container { width: 100%; } }

/* Custom, iPhone Retina */
